div#about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

div#about-us img#top-image {
    width: 60%;
    height: auto;
}

div#about-us h2 {
    font-size: 50px;
    font-family: var(--primary-font);
    margin: 20px auto;
    font-weight: 800;
}

div#about-us p {
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 600;
    width: 80%;
    text-align: center;
}

div#about-us h3 {
    font-size: 50px;
    margin: 50px auto;
    font-family: var(--primary-font);
    font-weight: 400;
}

div#about-us ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    list-style: none;
}

div#about-us ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div#about-us ul li .icon {
    font-size: 150px;
    color: limegreen
}

div#about-us ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

div#about-us ul li div h4 {
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: 400;
}

div#about-us ul li div p {
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    div#about-us h2 {
        font-size: 40px;
    }

    div#about-us p {
        font-size: 18px;
        width: 90%;
    }

    div#about-us h3 {
        font-size: 30px;
    }

    div#about-us ul li .icon {
        font-size: 100px;
    }

    div#about-us ul li div h4 {
        font-size: 22px;
    }

    div#about-us ul li div p {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    div#about-us img#top-image {
        width: 90%;
    }
    div#about-us h2 {
        font-size: 30px;
    }

    div#about-us p {
        font-size: 16px;
    }

    div#about-us ul {
        flex-direction: column;
        gap: 20px;
    }

    div#about-us ul li .icon {
        font-size: 70px;
    }

    div#about-us h3 {
        font-size: 26px;
        margin: 20px auto;
        margin-top: 50px;
    }

    div#about-us ul li div h4 {
        font-size: 20px;
    }

    div#about-us ul li div p {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    div#about-us h2 {
        font-size: 24px;
    }

    div#about-us p {
        font-size: 14px;
    }

    div#about-us h3 {
        font-size: 22px;
    }

    div#about-us ul li .icon {
        font-size: 50px;
    }

    div#about-us ul li div h4 {
        font-size: 18px;
    }

    div#about-us ul li div p {
        font-size: 14px;
    }
}



